## DATA MIGRATION FROM MySQL TO SQLITE3

In [17]:
# Import Libarary
import sqlite3
import mysql.connector as mysqlConnection
from pandas.io import sql

In [18]:
# Establish Connection
sqliteConn = sqlite3.connect("testdb.db")

# MySQL Connection
mysqlConn = mysqlConnection.Connect(host="localhost", user="root", passwd="", database="beneficiary_db")

In [19]:
# Declare Cursor
sqliteCursor = sqliteConn.cursor()

In [20]:
# Excute MySQL Query, Fetch from MySQL
df = sql.read_sql("SELECT * FROM beneficiaries LIMIT 5", mysqlConn)
df

c:\users\adinath nikam\appdata\local\programs\python\python38\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,index,id,active,created_at,created_by,deleted,last_modified_by,modified_at,age,annual_household_income,...,highest_educational_passout_year,is_migrant,referance_image_url,referance_image_url_name,user_entity_id,ftp_imported_user,diploma_passout_year,diploma_school_name,hsc_passout_year,hsc_school_name
0,0,8a8b803a7cbdbb65017cbe19cb4f0770,1,1635276933967,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276933967,None,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
1,1,8a8b803a7cbdbb65017cbe19ce1b0774,1,1635276934683,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276934683,None,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
2,2,8a8b803a7cbdbb65017cbe19d0e60778,1,1635276935398,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276935398,None,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
3,3,8a8b803a7cbdbb65017cbe19d3b0077c,1,1635276936111,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276936111,None,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
4,4,8a8b803a7cbdbb65017cbe19d6790780,1,1635276936825,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276936825,None,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None

In [21]:
# Load to SQLite Database
df.to_sql(name="testtbl", con=sqliteConn)

5

In [23]:
# Fetch Single Column from SQLite Database
fetchedCursor = sqliteCursor.execute("SELECT * FROM testtbl;")
for i in fetchedCursor:
    print(i[15])

None
None
None
None
None

In [25]:
# Fetch from SQLite Database
df = sql.read_sql("SELECT * FROM testtbl", sqliteConn)
df

,level_0,index,id,active,created_at,created_by,deleted,last_modified_by,modified_at,age,...,highest_educational_passout_year,is_migrant,referance_image_url,referance_image_url_name,user_entity_id,ftp_imported_user,diploma_passout_year,diploma_school_name,hsc_passout_year,hsc_school_name
0,0,0,8a8b803a7cbdbb65017cbe19cb4f0770,1,1635276933967,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276933967,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
1,1,1,8a8b803a7cbdbb65017cbe19ce1b0774,1,1635276934683,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276934683,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
2,2,2,8a8b803a7cbdbb65017cbe19d0e60778,1,1635276935398,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276935398,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
3,3,3,8a8b803a7cbdbb65017cbe19d3b0077c,1,1635276936111,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276936111,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None
4,4,4,8a8b803a7cbdbb65017cbe19d6790780,1,1635276936825,089f5038-e0b5-4f6b-8401-9f9217a2341c,0,None,1635276936825,None,...,0.0,None,None,None,None,None,0.0,None,0.0,None